:root {
    --background: #121212;
    --font: #e0e0e0;
    --border: #2e2e2e;
    --display: #333;
    --calculator: #444;
    --btn: #555;
    --btn-hover: #666;
    --btn-active: #777;
    --btn-clear: #e57373;
    --btn-clear-hover: #ef5350;
    --btn-clear-active: #d32f2f;
    --btn-delete: #64b5f6;
    --btn-delete-hover: #42a5f5;
    --btn-delete-active: #1e88e5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background);
    color: var(--font);
    font-family: "Audiowide", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

.btn {
    padding: 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    background-color: var(--btn);
    font-size: 20px;
}

.btn:hover {
    background-color: var(--btn-active);
}

.btn:active {
    background-color: var(--btn-hover);
}

.btn-delete {
    background-color: var(--btn-delete-active);
}

.btn-delete:hover {
    background-color: var(--btn-delete-hover);
}

.btn-clear {
    background-color: var(--btn-clear-active);
}

.btn-clear:hover {
    background-color: var(--btn-clear-hover);
}

/* MAIN */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 20px; 
    margin-top: 80px; 
}

.calculator {
    width: 400px;
    border: 2px var(--border) solid;
    border-radius: 16px;
    padding: 20px;
    background-color: var(--calculator);
}

.Inputs {
    padding: 10px 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--display);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.Inputs-last {
    min-height: 32px;
    font-size: 24px;
}

.Inputs-current {
    min-height: 64px;
    font-size: 42px;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.span-2 {
    grid-column: span 2;
}

/* Disables input spinners in calc display */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}